@import '../../node_modules/primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
}
//  Хедер
.header {
    display: flex;
    flex-direction: column;
    &-subheader {
        padding: 1rem;
        padding-left: 10rem;
        padding-right: 10rem;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #141A32;
        color: #A8AAB2;
        &-point {
            display: flex;
            align-items: center;
            cursor: pointer;
            &-text {
                padding-left: 1rem;
            }
        }
        &-nav {
            &-span {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                cursor: pointer;
            }
        }
    }
    &-mainheader {
        background: #F5F5F7;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-logo {
            cursor: pointer;
        }
        &-container {
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 12px;
        }
        &-catalog {
            cursor: pointer;
            background-color: #119347;
            color: white;
            border: none;
            font-size: 16px;
            padding: 1rem 2rem 1rem 2rem;
            display: flex;
            align-items: center;
            &-logo {
                padding-right: 0.5rem;
            }
        }
        &-search {
            display: flex;
            align-items: center;
            &-input {
                padding: 1rem;
                width: 500px;
                outline: none;
                font-size: 16px;
                border: none;
                border-radius: 12px;
            }
            &-logo {
                position: absolute;
                top: 11.3%;
                left: 51%;
            }
        }
        &-icons {
            display: flex;
            align-items: center;
            &-whatsapp {
                background-color: #119347;
                color: white;
                display: flex;
                align-items: center;
                cursor: pointer;
                &-text {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding: 0.5rem;
                    &-title {
                        padding-bottom: 0.3rem;
                    }
                    &-subtitle {
                        color: #E1E2E5;
                        font-size: 14px;
                    }
                }
                &-logo {
                    padding-left: 1rem;
                }
            }
            &-heart {
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                &-logo {
                    background-color: #ffff;
                    padding: 1rem;
                    border-radius: 12px;
                    cursor: pointer;
                }
            }
            &-bag {
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                &-logo {
                    padding: 1rem;
                    background-color: #ffff;
                    border-radius: 12px;
                }
            }
            &-user {
                display: flex;
                align-items: center;
                background-color: white;
                padding-left: 1rem !important;
                cursor: pointer;
                &-text {
                    display: flex;
                    flex-direction: column;
                    color: #141A32;
                    padding: 1rem;
                    &-title {
                        font-weight: bold;
                        padding-bottom: 0.3rem;
                    }
                    &-subtitle {
                        color: #747680;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    &-collection {
        background-image: url(../../public/images/main/image1.png);
        width: 840px;
        height: 500px;
        border-radius: 12px;
        margin-right: 1rem;
        &-content {
            margin: 5rem;
            &-title {
                font-size: 40px;
                font-weight: bold;
                color: #141A32;
            }
            &-button {
                display: flex;
                align-items: center;
                padding: 1rem 2rem 1rem 2rem;
                border: none;
                background-color: #119347;
                border-radius: 12px;
                color: #ffff;
                font-size: 16px;
                cursor: pointer;
                &-icon {
                    margin-left: 1rem;
                }
            }
        }
    }
    &-offers {
        &-image {
            width: 410px;
            height: 240px;
            margin: 1rem 1rem 1rem 0;
        }
        &-image1 {
            background-image: url(../../public/images/main/image2.png);
        }
        &-image2 {
            background-image: url(../../public/images/main/image3.png);
        }
    }
}
.brands {
    &-images {
        display: flex;
        align-items: center;
        justify-content: center;
        &-item {
            margin: 2rem;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
        
    }
    &-button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        &:hover {
            transform: scale(1);
        }
        &-icon {
            margin-left: 1rem;
        }
    }
}
.popular-categories {
    padding: 0 5rem 0 5rem;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title {
            color: #141A32;
            font-size: 40px;
            font-weight: bold;
        }
        &-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            &-icon {
                margin-left: 1rem;
            }
        }
    }
    &-body {
        display: flex;
        justify-content: center;
        &-container {
            background-color: #F5F5F7;
            width: 500px;
            user-select: none;
            cursor: pointer;
            margin: 5rem;
            padding: 0.5rem 2rem 0.5rem 2rem;
            display: flex;
            align-items: center;
            border-radius: 12px;
            &-content {
                display: flex;
                align-items: center;
                font-size: 20px;
                padding: 1rem;
                &-icon {
                    margin-right: 1rem;
                    background-color: #d4d4d4;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 0.5rem;
                }
            }
            &:hover {
                background-color: #119347;
                color: #ffff;
            }
        }
    }
}